<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1> <%= user.firstName + " " + user.lastName %> </h1>
            <div class="thumbnail">
                <img class="img-responsive" src="<%= user.avatar %>" alt="user profile image">
                <div class="caption">
                    <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3><%= user.username %>'s recipes: </h3>
            <ul>
                <div class="row">
                    <% recipes.forEach(function(recipe) { %>
                        <div class="col-lg-4">
                            <div class="container">
                                <div class="thumbnail" style="width:15%">
                                    <img src="<%= recipe.image %>" alt="image cap">
                                    <div class="caption">
                                        <h5 class="thumbnail-title"><%= recipe.name %></h5>
                                        <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">Go to Recipe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <li><a href="/recipes/<%= recipe.id %>"> <%= recipe.name %></a></li> -->
                    <% }); %>
                </div>
            </ul>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>