<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1> <%= user.firstName + " " + user.lastName %> </h1>
            <div class="thumbnail">
                <img class="img-responsive" src="<%= user.avatar %>" alt="user profile image">
                <div class="caption">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quos itaque consequuntur laudantium ullam reiciendis, a voluptatibus, ratione, exercitationem temporibus magni. Laboriosam eaque deleniti perspiciatis temporibus facere magnam repellat nisi.
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3><%= user.username %>'s recipes: </h3>
            <ul>
                <% recipes.forEach(function(recipe) { %>
                    <li><a href="/recipes/<%= recipe.id %>"> <%= recipe.name %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>