<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="lead"><%= recipe.name %></p>
            <div class="list-group">
                <li class="list-group-item">Serving Size: <%= recipe.serving %></li>
                <li class="list-group-item">Prep Time: <%= recipe.ptime %></li>
                <li class="list-group-item">Cook Time: <%= recipe.ctime %></li>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingredients</h3>
                </div>
                <div class="panel-body">
                    <% recipe.ingredients.forEach(function(ingredient){%>
                        <li><%= ingredient %></li>
                    <% }); %>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Instructions</h3>
                </div>
                <div class="panel-body">
                    <p><%= recipe.instructions %></p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= recipe.image %>">
                <div class="caption-full">
                    <h4><a><%= recipe.name %></a></h4>
                    <p><%= recipe.description %></p>
                    <p>
                        <em>Submitted By: <a href="/users/<%= recipe.author.id %>"> <%= recipe.author.username %> </a>, <%= moment(recipe.createdAt).fromNow() %> </em>
                    </p>
                    <!--Only logged in users can see the Edit and Delete button-->
                    <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/recipes/<%= recipe._id %>/edit">Edit</a>
                        <form class="delete-form" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <p class="lead">Comments</p>
            <div class="well">
                <div class="text-center">
                    <a class="btn btn-danger" href="/recipes/<%= recipe._id %>/comments/new">Leave a Comment</a>
                </div>
                <hr>
                <% recipe.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p> <%= comment.text %> </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-danger" 
                                    href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form class="delete-form" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                            <hr>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div> 
</div>
<%- include("../partials/footer") %>